<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<input type='text' #todo placeholder="Add your Todos...." [(ngModel)]="searchValue">
<button (click)="addTodos(todo)">Add</button>
<button (click)="sort(todo)">Sort</button>
<li *ngFor="let item of todos ; let i =index" >
  {{item}}
<button (click)="removeTodo(item,i)">Remove</button>
</li>
<div *ngIf="todos.length >0">
  <button (click)="clearAll()">Clear All</button>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
